body {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    line-height: 1.6;
    background-image: url('./fotos/dog-seamless-pattern-paws-bones-260nw-2350264459.webp');
    background-repeat: no-repeat;
    background-size: cover;
   
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.navbar {
display: flex;
    justify-content: space-around;
  
    align-items: center;
  
    background-color: #FFA500;
    
    padding: 10px 20px;
}

.nav {
list-style-type: none;
    display: flex;
    gap: 20px;
justify-content: space-around;
    margin: 0;
    padding: 0;
    
}
.nav li a {
    text-decoration: none;
    color: #000;
    /* Cambia según el diseño deseado */
    font-weight: bold;
}
.nav li a:hover {
    text-decoration: none;
    color: #f1e6e6;
    /* Cambia según el diseño deseado */
    font-weight: bold;
}

.titulo {
    color: #f5ebeb;
    text-decoration: none;
    display: block;
    transition: color 0.3s ease;
}


/* Contenido principal */
main {
    flex: 1;
    
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 20px;
}

/* Footer */
footer.navbar {
    background-color: rgb(245, 171, 87);
    color: white;
    padding: 5px 5px;
    text-align: center;
}

footer.navbar ul {
    display: flex;
    justify-content: center;
    gap: 15px;
    list-style: none;
    padding: 0;
    margin: 0;
}

footer.navbar li a {
    color: white;
    font-size: 1.2em;
    text-decoration: none;
    transition: color 0.3s;
}

footer.navbar li a:hover {
    color: #858181;
}
.text{
    color: #0f0202;
    font-size: 1.5em;
    text-decoration: none;
    display: block;
    transition: color 0.3s ease;
    background-color: aliceblue;
}
img {   
    max-width: 100%;
  height: 300px;
  object-fit: cover;
  border-bottom: 4px solid #030303;
  border-radius: 10px;
 
}
.tituloPrincipal {
    display: flex;
    align-items: center;
    
    justify-content: center;
    
    color: #333;
    
    font-family: 'Roboto', sans-serif;
    
    font-size: 2.5rem;
   
    font-weight: bold;
   
    text-transform: uppercase;
    
    letter-spacing: 2px;
   
    text-decoration: none;
    padding: 15px;
    margin: 20px 0;
 
    
}

