{%extends './home.html'%}
    

 {%block titulo%}
<li class="titulo"> Contacto</li>
{%endblock titulo%}


{%block contenido%}
     <div>
         <b><p>Patitas es la idea del TP final para el curso de python de itSchool </p></b>
        <b>  <p>La idea es una pagina web que permita a los usuarios publicar perros perdidos o encontrados</p></b>
         <b>  <p>La idea es poder reunirte o encontrar  con ese amigo tan especial</p></b>
        <h3>  <a href="https://github.com/spawnew/PatitasTPitschool"> <b>Link al github </b></h3>
        <h3>  <a href="www.linkedin.com/in/lucas-sorzio-4a1bb1238"> <b>Link a mi linkedin </b></h3>
           

                
        

</div>
{%endblock contenido%}


