<!DOCTYPE html>
<html lang="en">
<head>
    {%load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="{% static 'css/style.css' %}" rel="stylesheet" />
</head>
<nav class="navbar">
    
    <ul class="nav">
       
    {%block titulo%}
   <li class="titulo"> hola home</li>
{%endblock titulo%}
  <li>  <a href="{%url 'home'%}" >Home</a></li>
   <li> <a href="{%url 'contacto'%}" >Contacto</a></li>
   <li> <a href="{%url 'home'%}" >Home</a></li>
   <li> <a href="{%url 'home'%}" >Home</a></li>
    </ul>
 </nav>

<body>

    {%block contenido%}
    <h1>hola home</h1>
{%endblock contenido%}
    <footer>
        <p>Redes Sociales  </p>
    </footer>
</body>
</html>