<!DOCTYPE html>
<html lang="en">
<head>
    {%load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="{% static 'css/style.css' %}" rel="stylesheet" />
</head>
<nav class="navbar">
    <a href="{%url 'home'%}" >Home</a>
    <a href="{%url 'contacto'%}" >Contacto</a>
    <a href="{%url 'home'%}" >Home</a>
    <a href="{%url 'home'%}" >Home</a>

    
   
   
       
     </nav>

<body>
    {%block contenido%}
    <h1>hola home</h1>
{%endblock contenido%}
    
</body>
</html>