{%extends './home.html'%}
    

 {%block titulo%}
<li class="titulo"> Buscar perros</li>
{%endblock titulo%}
{%block otrotitulo%}
<b><p >En esta seccion podra agregar sus datos y los de su mascota para que las personas puedan ayudarlo a encontrar a su mascota</p><b>
{%endblock otrotitulo%}

{%block contenido%}
    
    
<table >
    <thead><tr>
        <th>Nombre</th>
        <th>Edad</th>
         <th>Donde se perdio</th>
         <th>Email de contacto</th>
    <tbody>
           <td>
            <a
            href="{% url 'create_perro' %}"
            class="btn btn-danger btn-sm"
            >Agregue un perro  <i class="fa fa-plus fa-lg" title="New Record"> </i>
            </a>
        </td>
{% for p in perro_list %}
    <tr>
        
        <td ><p>{{ p.nombre }}</p></td>
        <td ><p>{{ p.edad }}</p></td>
        <td ><p>{{ p.direccion }}</p></td>
        <td ><p>{{ p.contacto }}</p></td>
        <td><img src="{{ p.imagen.url }}" class="fotosDePerros" alt="{{ perro.nombre }}" width="100" height="100"></td>
      
 <td>
            <a
              href="{% url 'update_perro'  p.id  %}"
              class="btn btn-primary"
              style="--bs-btn-padding-y: .25rem; --bs-btn-padding-x: .5rem; --bs-btn-font-size: .75rem;"
              >Modificar<i class="fa fa-edit fa-sm" title="Edit Record"></i>
            </a>
            <a
              href="{% url 'delete_perro' p.id %}"
              class="btn btn-danger"
              style="--bs-btn-padding-y: .25rem; --bs-btn-padding-x: .5rem; --bs-btn-font-size: .75rem;"
              >Borrar<i class="fa fa-trash fa-sm" title="Delete Record"></i>
            </a>
          </td>        



 {% endfor %}
    </tbody>
</table>
        {%endblock contenido%}